<div *ngIf="appService.getNavbarState()" id="content">
    <nav class="navbar top-nav navbar-static-top">
        <ul class="menu">
            <li>
                <div class="home" [routerLink]="['/']">
                    <img src="assets/menu/_home.jpg">
                </div>
            </li>
            <li *ngFor="let region of regions">
                <div class="navbar-items hide-items" [routerLink]="['/region',region.regionName,'countries']">
                    {{region.regionName | uppercase}}
                </div>
            </li>
        </ul>
        <input type="text" class="search-box" placeholder="Search (not implemented)" >
    </nav>
</div>
<router-outlet></router-outlet>